<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <p class="text-center">Estou no momento atuando em uma área produtiva de uma empresa de máquinas agrícolas
        como coordenadora de produção. Fabricamos máquinas para fenação e pré-secado. Em 2020, decidi começar uma
        nova trajetória e entrar na faculdade de análise e desenvolvimento de sistemas, pela Universidade
        Paulista - UNIP, estou no 3º semestre e desenvolvi meus primeiros programas usando linguagem C.
        Atualmente desenvolvo alguns trabalhos usando HTML5, CSS3, JAVASCRIPT, REACTJS e também em JAVA.
        Todos eles estão no meu Github. O conhecimento na ferramenta Reactjs veio através do programa Campinas
        Tech Talents e neste mês de junho estou tendo a oportunidade de fazer o Campinas Teck Bank na trilha de
        Java, evento idealizado pela Share RH e parceiros. Portanto, busco uma oportunidade para ampliar meus
        conhecimentos e fazer uma transição de carreira para tecnologia da informação, mais precisamente como
        Desenvolvedor JAVA.
      </p>
    </div>
  </div>

  <div class="parallax"></div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
    </div>
  </div>
</div>
